{% extends "structure.html" %}

{% block viewport %}
    <div>
        <form action="/" method="post">
            <input name="button" type="submit" value="Full Application">
        </form>
        <form action="/" method="post">
            <input name="button" type="submit" value="Ingredient Selection Only">
        </form>
        <form action="/" method="post">
            <input name="button" type="submit" value="API Only">
        </form>
        <form action="/" method="post">
            <input name="button" type="submit" value="View Ingredient Information">
        </form>
    </div>
{% endblock %}