{% extends "structure.html" %}

{% block viewport %}
<style>
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto 20%;
  /* grid: 200px / auto auto auto auto auto; */
  grid-gap: 5px;
  background-color:black;
  padding: 5px;
}

.grid-container > div {
  background-color: beige;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  width: 100%;
}
</style>
<form action="/ingredient_selection" method="post">
    <input name="button" type="submit" value="Back to Homepage">
</form>
<p>{{cur}}</p>
<form action="/ingredient_selection" method="post">
    {% if app_use == "full" and num > 1 %}
        <input name="button" type="submit" value="API Search">
    {% endif %}
</form>
<p>Choose ingredient #{{num}}</p>
<form action="/ingredient_selection" method="post">
    <div class="grid-container" style="grid-auto-flow: row;">
       {% if num > 1 %}
            {% for key, value in ingred.items() %}
                <div class="item{{key}}">
                    <p>{{value[0].title()}}</p>
                    <p>Pairing Strength: {{weights[value[1]]}}</p>
                    <input name="button" type="submit" value="Choose {{key}}">
                </div>
            {% endfor %}
        {% else %}
            {% for ingredient in ingred %}
                <div class="item{{ingredient.pk}}">
                    <p>{{ingredient.name.title()}}</p>
                    <input name="button" type="submit" value="Choose {{ingredient.pk}}">
                </div>
			{% endfor %}
        {% endif %}
    </div>
</form>

{% endblock %}